<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="240px">
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader class="holder">
        <img alt="miw" src="../../../assets/images/logo.png"/></div>
      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>Las Palmas 13, Centro, 63732 Bucerías, NAY, Mexico</div>
        <div mat-line></div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <div mat-line>+52 73867215</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>mail_outline</mat-icon>
        <div mat-line>nefkon@gmail.com</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>ARTIFACTS VERSIONS</div>
      <mat-list-item>
        <mat-icon mat-list-icon>computer</mat-icon>
        <div mat-line>Angular/zerocopy-ui-smartpump - {{version}}({{profile}})</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <div mat-line>Back-end - Spring</div>
        <div mat-line>User - {{backEndUser}}</div>
        <!-- <div mat-line>Core - {{backEndCore}}</div> -->
      </mat-list-item>
      <mat-list-item>
        <!-- <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <div mat-line>Back-end - Python</div>
        <div mat-line>Customer Support - {{backEndCustomerSupport}}</div> -->
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>ABOUT AS</div>
      <mat-list-item>
        <div mat-line>www.zerocopylabs.com</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Code challenge www.zerocopy.com</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Back-end with Open Source Technologies</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
